<%= link_to 'Sign In', new_admin_session_path %>

 
  <% @posts.each do |post| %>
    <table class="post">
      <tr><td><%= post.title %></td></tr>
      <tr><td><%= image_tag post.photo.url %></td></tr>
      <tr><td><%= post.text %></td></tr>
      <tr><td><%= link_to 'View Post', welcome_path(post.id) %></td></tr>
    </table>
  <% end %>
