<h1>Listing posts</h1>
<%= link_to 'Sign In', new_admin_session_path %>
<table>
  <tr>
  	<th>Photo</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.photo.url %></td>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', welcome_path(post.id) %></td>
    </tr>
  <% end %>
</table>