<div id="content">
<div id="home">
<%= link_to 'Home', root_path, :class => "button" %>
</div>
<h1>Albums</h1>
  <% @albums.each do |album| %>
  <div class="album">
    <table>
    <tr>
      <td><h2><%= album.title %></h2></td>
    </tr>
    <tr>
      <% if album.photos.first %>
      <td><%= image_tag album.photos.first.upload.url(:small) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= link_to 'Show', album_path(album), :class => "button" %></td>
      <% if admin_signed_in? %>
      <td><%= link_to 'Edit', edit_album_path(album), :class => "button" %></td>
      <td><%= link_to 'Destroy', album_path(album),
                       method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %></td>
      <% end %>
    </tr>
    </table>
  </div>
  <% end %>
</div>
