<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "mobile" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
</head>
<body>
<% if admin_signed_in? %>
<%= link_to 'New post', new_post_path %>
<%= link_to 'New Album', new_album_path %>
<%= link_to 'Home', root_path %>
<%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
<% end %>

<% if admin_signed_in? %>
<%= link_to 'Admin Page', posts_path %>
<% else %>
<%= link_to 'Sign In', new_admin_session_path %>
<% end %>


<%= image_tag("banner.png", :alt => "paisley through a lens banner", width: '100%', :style => "border: 3px solid #000;", :class => "rounded") %>

<%= yield %>

</body>
</html>
